<!DOCTYPE html>
<html lang="en">

    <head>
        <title>File Managements</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .fa,
            .fas {
                color: #858585;
            }

            .fa-folder {
                color: rgb(74, 158, 255);
            }

            i.fa,
            table i.fas {
                font-size: 16px;
                margin-right: 6px;
            }

            i.action {
                cursor: pointer;
            }

            a {
                color: black;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-6">
                    <h3> File Manager</h3>
                </div>
                <div class="col-6">
                    <div class="dropdown text-right">
                        Xin chào <a id="userName" class="dropdown-toggle text-primary"
                           data-toggle="dropdown">{{name}}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-info-circle"></i>
                                &nbsp;&nbsp;Cập nhật thông tin
                            </a>
                            <a class="dropdown-item" href="/logout">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {{#each breadcrumb}}
                <li class="breadcrumb-item"><a href="/{{this.path}}">{{this.name}}</a></li>
                {{/each}}
            </ol>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
                <input type="text" class="form-control" id="search" placeholder="Search">
                <table>
                    <thead></thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="btn-group my-3">
                <button id="btn-create-folder" type="button" class="btn btn-light border">
                    <i class="fas fa-folder-plus"></i> New folder
                </button>
                <button id="btn-create-text-file" type="button" class="btn btn-light border">
                    <i class="fas fa-file"></i> Create text file
                </button>
            </div>
            <table class="table table-hover border">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Last modified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="fileList">
                    {{#each filesAndFolders}}
                    <tr>
                        <td>
                            {{#ifCond type 'Folder'}}
                            <i class="fa fa-folder"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Compressed File'}}
                            <i class="fa fa-file-archive"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Text Document'}}
                            <i class="fa fa-file"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Image'}}
                            <i class="fa fa-file-image"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Video'}}
                            <i class="fa fa-file-video-o"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Audio'}}
                            <i class="fa fa-file-audio-o"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'Application'}}
                            <i class="fa fa-file"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                            {{#ifCond type 'File'}}
                            <i class="fa fa-file"></i>
                            <a href="{{name}}">{{name}}</a>
                            {{/ifCond}}
                        </td>
                        <td>{{type}}</td>
                        <td>{{size}}</td>
                        <td>{{lastModified}}</td>
                        <td>
                            <span>
                                <a href="/download/{{name}}">
                                    <i class="fa fa-download action"></i>
                                </a>
                            </span>
                            <span><i class="fa fa-edit action"></i></span>
                            <span><i class="fa fa-trash action"></i></span>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <div class="border rounded mb-3 mt-5 p-3">
                <h4>File upload</h4>
                <form>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <input id="upload-root" type="hidden" name="root" value="">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="progress" style="height: 5px; display: none;">
                            <!--                     <div class="progress-bar bg-success" style="width:40%;height:10px"></div> -->
                            <div class="progress-bar bg-success" style="height:10px"></div>
                        </div>
                    </div>
                    <p class="small">Người dùng chỉ được upload tập tin có kích thước tối đa là 20 MB. Các tập tin thực
                        thi
                        (*.exe, *.msi, *.sh) không được phép upload.</p>
                    <!--                 <p class="small">Khi nhấn nút upload thì</p> -->
                    <!--                 <ul class="small"> -->
                    <!--                     <li>Progress bar sẽ hiển thị tiến độ của quá trình upload. Ban đầu progress bar bị ẩn đi.</li> -->
                    <!--                     <li>Khi đang diễn ra quá trình upload thì button <strong>Upload</strong> sẽ bị disabled.</li> -->
                    <!--                     <li>Sau khi upload thành công thì progress bar được ẩn đi, file sẽ được hiển thị trong danh sách bên -->
                    <!--                         trên và button được enabled trở lại.</li> -->
                    <!--                 </ul> -->
                    <button id="btn-upload" class="btn btn-success px-5" type="button">Upload</button>
                </form>
            </div>

            <div class="modal-example my-5">
                <h4>Một số dialog mẫu</h4>
                <p>Sử dụng các dialog này cho các chức năng trong bài tập.</p>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#confirm-delete">Confirm delete</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#confirm-rename">Confirm rename</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#new-file-dialog">New file dialog</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#message-dialog">Message Dialog</a></li>
                </ul>
            </div>

        </div>


        <!-- Delete dialog -->
        <div class="modal fade" id="confirm-delete">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Xóa tập tin</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        Bạn có chắc rằng muốn xóa tập tin <strong>image.jpg</strong>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rename dialog -->
        <div class="modal fade" id="confirm-rename">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Đổi tên</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>Nhập tên mới cho tập tin <strong>Document.txt</strong></p>
                        <input type="text" placeholder="Nhập tên mới" value="Document.txt" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-rename" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- New file dialog -->
        <div class="modal fade" id="new-file-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Tạo tập tin mới</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">File Name</label>
                            <input type="text" placeholder="File name" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="content">Nội dung</label>
                            <textarea rows="10" id="content" class="form-control" placeholder="Nội dung"></textarea>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- New folder dialog -->
        <div class="modal fade" id="new-folder-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Folder</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="folderName">Folder Name</label>
                            <input type="text" class="form-control" id="folderName" placeholder="Enter folder name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btn-create-folder-modal"
                                data-dismiss="modal">Create
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create text file dialog -->
        <div class="modal fade" id="create-text-file-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Text File</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="textFileName">File Name</label>
                            <input type="text" class="form-control" id="textFileName" placeholder="Enter file name">
                        </div>
                        <div class="form-group">
                            <label for="textFileContent">File Content</label>
                            <textarea rows="5" class="form-control" id="textFileContent"
                                      placeholder="Enter file content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btn-create-text-file-modal"
                                data-dismiss="modal">Create
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <style>
            .end-0 {
                right: 0 !important;
            }

            .top-0 {
                top: 0 !important;
            }

            .toast-container {
                --bs-toast-zindex: 1090;
                position: absolute;
                z-index: var(--bs-toast-zindex);
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                max-width: 100%;
                pointer-events: none;
            }

            .p-3 {
                padding: 1rem !important;
            }
        </style>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> -->
        <div class="toast-container position-fixed top-0 end-0 p-3"></div>


        <!-- load show toast function -->
        <script src="/js/toast.js"></script>
        <script>
            let globalRoot = "";

            function getIconClass(type) {
                switch (type) {
                    case "Folder":
                        return "fa fa-folder";
                    case "Compressed File":
                        return "fa fa-file-archive";
                    case "Text Document":
                        return "fa fa-file";
                    case "Image":
                        return "fa fa-file-image";
                    case "Video":
                        return "fa fa-file-video-o";
                    case "Audio":
                        return "fa fa-file-audio-o";
                    case "Application":
                        return "fa fa-file";
                    default:
                        return "fa fa-file";
                }
            }

            function itemDelete() {
                console.log(`=>(index.hbs:375) itemDelete`);
                let root = "";

                $(".btn-item-delete")
                    .on("click", function () {
                        const fileName = $(this)
                            .data("file-name");
                        root = $(this)
                            .data("root");
                        $("#confirm-delete strong")
                            .html(fileName);
                        $("#confirm-delete")
                            .modal("show");
                    });
                $("#confirm-delete .btn-delete")
                    .off("click")
                    .on("click", function () {
                        const fileName = $("#confirm-delete strong")
                            .text();

                        $.ajax({
                            url: "/delete",
                            type: "DELETE",
                            data: {
                                root,
                                fileName
                            },
                            success: function (response) {
                                console.log(`=>(index.hbs:410) response`, response);
                                showToast("Deleted successfully.", "success");
                                fetchDataAndUpdateBreadcrumb(root);
                            },
                            error: function (error) {
                                console.log("=>(index.hbs:388) error", error);
                                showToast("Delete failed. Please try again.", "error");
                            }
                        }
                        );

                    });
            }

            function itemRename() {
                console.log(`=>(index.hbs:417) itemRename`);
                let root = "";
                $(".btn-item-rename")
                    .on("click", function () {
                        const fileName = $(this)
                            .data("file-name");
                        root = $(this)
                            .data("root");
                        $("#confirm-rename strong")
                            .html(fileName);
                        $("#confirm-rename input")
                            .val(fileName);
                        // TODO: focus input
                        $("#confirm-rename")
                            .modal("show");
                    });

                $("#confirm-rename .btn-rename")
                    .off("click")
                    .on("click", function () {
                        const oldFileName = $("#confirm-rename strong")
                            .text();
                        const newFileName = $("#confirm-rename input")
                            .val();

                        $.ajax({
                            url: "/update-file-name",
                            type: "PUT",
                            data: {
                                oldFileName: `${root}\\${oldFileName}`,
                                newFileName: `${root}\\${newFileName}`
                            },
                            success: function (response) {
                                console.log("=>(index.hbs:389) response", response);
                                showToast("Updated successfully.", "success");
                                fetchDataAndUpdateBreadcrumb(root);
                            },
                            error: function (error) {
                                console.log("=>(index.hbs:388) error", error);
                                showToast("Update failed. Please try again.", "error");
                            }
                        }
                        );

                    });
            }


            function updateBreadcrumb(root, breadcrumbData) {
                const breadcrumb = $(".breadcrumb");
                breadcrumb.empty();

                breadcrumb.append("<li class=\"breadcrumb-item\"><a href=\"/\">Home</a></li>");

                breadcrumbData
                    .forEach((item) => {
                        console.log("=>(index.hbs:451) item", item);
                        breadcrumb.append(`<li class="breadcrumb-item"><a href="${item.path}">${item.name}</a></li>`);
                    });


            }

            function fetchDataAndUpdateBreadcrumb(path) {
                globalRoot = path;
                $("#search")
                    .data("root", path);
                $("#upload-root")
                    .val(path);
                $.ajax({
                    url: path,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        console.log(`=>(index.hbs:491) data`, data);
                        if (data.success) {
                            updateBreadcrumb(data.root, data.breadcrumb);
                            console.log("=>(index.hbs:483) data.breadcrumb", data.breadcrumb);

                            const filesAndFolders = data.data;
                            const table = $("#fileList");
                            table.empty();
                            table.html("");
                            filesAndFolders.forEach((item) => {
                                const iconClass = getIconClass(item.type);

                                table.append(`<tr>
                                <td>
                                    <i class="${iconClass}"></i>
                                    <a href="${data.root}/${item.name}">${item.name}</a>
                                </td>
                                <td>${item.type}</td>
                                <td>${item.size}</td>
                                <td>${item.lastModified}</td>
                                <td>
                                    <span class="btn-item-download">
                                        <a href="/download/${data.root}/${item.name}">
                                            <i class="fa fa-download action"></i>
                                        </a>
                                    </span>
                                    <span class="btn-item-rename" data-file-name="${item.name}" data-root="${data.root}">
                                        <i class="fa fa-edit action"></i>
                                    </span>
                                    <span class="btn-item-delete" data-file-name="${item.name}" data-root="${data.root}">
                                        <i class="fa fa-trash action"></i>
                                    </span>
                                </td>
                            </tr>`);
                            });

                            $("#userName")
                                .text(data.name);

                            $(".breadcrumb-item > a, td > .fa-folder+a")
                                .on("click", function (e) {
                                    console.log("=>(index.hbs:449) ", e);
                                    e.preventDefault();
                                    console.log($(this)
                                        .attr("href"));
                                    fetchDataAndUpdateBreadcrumb($(this)
                                        .attr("href"));
                                });

                            itemDelete();
                            itemRename();
                        } else {
                            console.error("Failed to retrieve data");
                        }
                    },
                    error: function (error) {
                        console.error("AJAX error:", error);
                    },
                });
            }
        </script>
        <!-- script load list files and folders -->
        <script>
            $(document)
                .ready(function () {

                    fetchDataAndUpdateBreadcrumb("");

                    $("#btn-create-folder")
                        .on("click", function () {
                            $("#new-folder-dialog")
                                .modal("show");
                        });

                    $("#btn-create-folder-modal")
                        .on("click", function () {
                            const folderName = $("#folderName")
                                .val();
                            $("#folderName")
                                .val("");
                            $.ajax({
                                url: "/create-folder",
                                type: "POST",
                                data: {
                                    folderName: folderName,
                                    root: globalRoot
                                },
                                success: function (response) {
                                    showToast("Folder created successfully.", "success");
                                    fetchDataAndUpdateBreadcrumb(globalRoot);
                                },
                                error: function (error) {
                                    showToast("Failed to create folder. Please try again.", "error");
                                }
                            });
                        });

                    $("#btn-create-text-file")
                        .on("click", function () {
                            $("#create-text-file-dialog")
                                .modal("show");
                        });

                    $("#btn-create-text-file-modal")
                        .on("click", function () {
                            const textFileName = $("#textFileName")
                                .val();
                            const textFileContent = $("#textFileContent")
                                .val();

                            $("#textFileName")
                                .val("");
                            $("#textFileContent")
                                .val("");

                            $.ajax({
                                url: "/create-text-file",
                                type: "POST",
                                data: {
                                    fileName: textFileName,
                                    content: textFileContent,
                                    root: globalRoot
                                },
                                success: function (response) {
                                    showToast("Text file created successfully.", "success");
                                    fetchDataAndUpdateBreadcrumb(globalRoot);
                                },
                                error: function (error) {
                                    showToast("Failed to create text file. Please try again.", "error");
                                }
                            });
                        });
                });
        </script>

        <!-- script upload file -->
        <script>
            $(document)
                .ready(function () {
                    $("#btn-upload")
                        .on("click", function (e) {
                            e.preventDefault();
                            const fileInput = $("#customFile")[0];
                            const selectedFile = fileInput.files[0];

                            if (selectedFile) {
                                const maxSizeInBytes = 20 * 1024 * 1024; // 20 MB (in bytes)
                                // TODO: add feature here
                                const forbiddenExtensions = [".exe", ".msi", ".sh"];

                                if (selectedFile.size > maxSizeInBytes) {
                                    showToast("File size exceeds the maximum allowed size of 20 MB.", "error");
                                    return;
                                }

                                $(".progress")
                                    .show();

                                $("#btn-upload")
                                    .prop("disabled", true);

                                const formData = new FormData();
                                formData.append("file", selectedFile);

                                const targetRoot = $("#upload-root")
                                    .val();
                                $.ajax({
                                    url: targetRoot !== '' ? `/upload${targetRoot}` : `/upload/`,
                                    method: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    xhr: function () {
                                        const xhr = new window.XMLHttpRequest();
                                        xhr.upload.addEventListener("progress", function (e) {
                                            if (e.lengthComputable) {
                                                const percent = (e.loaded / e.total) * 100;
                                                $(".progress-bar")
                                                    .css("width", percent + "%");
                                                $(".progress-bar")
                                                    .html(percent.toFixed(2) + "%");
                                            }
                                        });
                                        return xhr;
                                    },
                                    success: function (response) {
                                        console.log(response);
                                        $(".progress")
                                            .hide();

                                        $("#btn-upload")
                                            .prop("disabled", false);

                                        console.log(response);
                                        $(".progress-bar")
                                            .css("width", "0%");
                                        $(".progress-bar")
                                            .html("0%");
                                        $("#customFile")
                                            .val("");
                                        showToast("File uploaded successfully.", "success");

                                        fetchDataAndUpdateBreadcrumb(globalRoot);
                                    },
                                    error: function (error) {
                                        console.error(error);
                                        $(".progress")
                                            .hide();

                                        $("#btn-upload")
                                            .prop("disabled", false);

                                        console.error(error);

                                        $(".progress-bar")
                                            .css("width", "0%");
                                        $(".progress-bar")
                                            .html("0%");

                                        $("#customFile")
                                            .val("");
                                        showToast("Error uploading the file. Please try again.", "error");
                                    },
                                });
                            }
                        });
                });
        </script>

        <!-- script search -->
        <script>
            $(document)
                .ready(function () {
                    $("#search")
                        .on("input", function () {
                            const searchValue = $(this)
                                .val()
                                .toLowerCase();
                            const root = $(this)
                                .data("root");

                            $.ajax({
                                url: `/search`,
                                type: "POST",
                                data: {
                                    searchKeyword: searchValue,
                                },
                                success: function (data) {
                                    console.log(`=>(index.hbs:773) data`, data);

                                    const searchResults = data.results;

                                    $("#fileList")
                                        .empty();

                                    searchResults.forEach(result => {
                                        const iconClass = getIconClass(result.type);
                                        $("#fileList")
                                            .append(`
              <tr>
                <td>
                  <i class="${iconClass}"></i>
                  <a href="${result.src}">${result.name}</a>
                </td>
                <td>${result.type}</td>
                <td>${result.size}</td>
                <td>${result.lastModified}</td>
                <td>
                  <span class="btn-item-download">
                    <a href="/download/${result.src}">
                      <i class="fa fa-download action"></i>
                    </a>
                  </span>
                  <span class="btn-item-rename" data-file-name="${result.name}" data-root="${result.src}">
                    <i class="fa fa-edit action"></i>
                  </span>
                  <span class="btn-item-delete" data-file-name="${result.name}" data-root="${result.src}">
                    <i class="fa fa-trash action"></i>
                  </span>
                </td>
              </tr>
            `);
                                    });

                                    itemDelete();
                                    itemRename();
                                },
                                error: function (error) {
                                    console.error("Error fetching search results:", error);
                                }
                            });
                        });
                });
        </script>

        <!-- script add file name to label when select file in input -->
        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input")
                .on("change", function () {
                    var fileName = $(this)
                        .val()
                        .split("\\")
                        .pop();
                    $(this)
                        .siblings(".custom-file-label")
                        .addClass("selected")
                        .html(fileName);
                });
        </script>

    </body>

</html>