<!DOCTYPE html>
<html>
    <head>
        <title>CallMate</title>

        <%-include('./partials/head.ejs')%>

        <link rel="stylesheet" href="/css/room-call.css" />
    </head>

    <body class="position-relative">
        <%- include('./flash.ejs') %>

        <button
            id="invite"
            style="outline: none; border: none"
            class="btn btn-sm btn-outline-primary position-absolute top-0 end-0 z-3 px-3 py-2 rounded bg-light text-black pointer user-select-none"
        >
            <i class="fa-solid fa-user-plus"></i>
        </button>

        <div id="offlineMessage" class="text-center h3">Please connect to the internet to use this website.</div>

        <!-- Toast -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <!-- Info Toast -->
            <!-- Success Toast -->
            <!-- Error Toast -->
        </div>

        <!-- <div id="content" class="container-fluid">
            <div class="row"> 
                <div class="col">
                    feature button
                    <div class="col-2 feature">
                        <div class="stream-management">
                            <div class="d-grid gap-2">
                                <h5 class="text-center fw-bold">Stream Management</h5>

                                <div class="btn-group" role="group" aria-label="Stream Management Actions">
                                    <button type="button" class="btn btn-primary" id="load-local-stream">Load
                                        Stream</button>
                                    <button type="button" class="btn btn-primary" id="load-active-list">Load Active
                                        Users</button>
                                </div>
                            </div>
                            <ul class="list-group" id="active-list"></ul>
                        </div>
                    </div> -->

        <!-- Main video call column -->
        <div id="content" class="container-room">
            <div class="row">
                <div class="col">
                    <div class="left-cont">
                        <div class="video-cont-single" id="vcont">
                            <div class="video-box">
                                <video id="localVideo" muted autoplay playsinline class="video-frame"></video>
                                <!-- create video tag for remote -->
                                <video id="remoteVideo" autoplay playsinline class="video-frame video-remote"></video>
                                <div class="nametag" id="myname"><%= username %></div>
                                <div class="mute-icon d-none" id="mute-mic-icon">
                                    <i class="fas fa-microphone-slash"></i>
                                </div>
                                <div class="mute-icon d-none me-5" id="mute-cam-icon">
                                    <i class="fas fa-video-slash"></i>
                                </div>
                                <div class="video-off d-none" id="myvideooff">Video Off</div>
                            </div>
                        </div>

                        <div class="footer">
                            <span
                                id="roomName"
                                class="position-absolute bottom-0 start-0 z-3 px-3 py-2 m-2 rounded bg-light text-black pointer user-select-none"
                                data-id="<%= roomName %>"
                            >
                                Code: <%= roomName %>
                            </span>
                            <div class="utils">
                                <div class="audio">
                                    <i class="fas fa-microphone"></i>
                                </div>
                                <div class="novideo">
                                    <i class="fas fa-video"></i>
                                </div>
                                <div class="cutcall">
                                    <i class="fas fa-phone-slash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- main
                    <div class="col text-center" class="main">
                        <div class="row">
                            <div class="col">
                                <h3 class="localVideo">
                                    Local
                                    <p class="d-inline" id="yourLocalName"></p>
                                </h3>
                                <video id="localVideo" autoplay playsinline class="video-frame"></video>
                            </div>
                            <div class="col">
                                <h3 class="d-inline">
                                    Remote
                                    <p class="d-inline" id="yourRemoteName"></p>
                                </h3>
                                <div id="remoteVideoPlaceholder" class="video-placeholder">
                                    <p class="text-center">Waiting for remote user to join...</p>
                                </div>
                                <video id="remoteVideo" autoplay playsinline class="video-frame" hidden></video>
                                <p id="remoteText" class="text-center"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" id="startCall">Start Call</button>
                                <button class="btn btn-warning" id="endCall">End Call</button>
                            </div>
                        </div> 
                    </div> 
                </div> -->

                <!-- chat form column -->
                <div class="chat-box">
                    <div class="card">
                        <div class="header">
                            <span class="title">Chat Box</span>
                        </div>

                        <!-- chat box -->
                        <div class="card-body overflow-auto">
                            <div id="chatBox" class="chat-room overflow-auto">
                                <!-- CHAT MESSAGE BOX HERE -->
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="type-area">
                                <!-- input message -->
                                <div class="input-wrapper">
                                    <input
                                        type="text"
                                        id="chatInput"
                                        class="emoji-input"
                                        placeholder="Type messages here..."
                                        autocomplete="off"
                                    />
                                </div>

                                <!-- file button -->
                                <button id="uploadButton" class="button-upload">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                </button>

                                <!-- emoji -->
                                <div class="icon-box">
                                    <button id="showIcons" class="button-add">
                                        <i class="fa-regular fa-face-smile"></i>
                                    </button>
                                    <div class="icon-list">
                                        <div class="icon-list-row">
                                            <button class="icon" data-icon="😊">😊</button>
                                            <button class="icon" data-icon="🌟">🌟</button>
                                            <button class="icon" data-icon="🎉">🎉</button>
                                            <button class="icon" data-icon="🚀">🚀</button>
                                            <button class="icon" data-icon="❤️">❤️</button>
                                        </div>
                                        <div class="icon-list-row">
                                            <button class="icon" data-icon="🌈">🌈</button>
                                            <button class="icon" data-icon="🌺">🌺</button>
                                            <button class="icon" data-icon="🍀">🍀</button>
                                            <button class="icon" data-icon="🌞">🌞</button>
                                            <button class="icon" data-icon="🎈">🎈</button>
                                        </div>
                                        <div class="icon-list-row">
                                            <button class="icon" data-icon="🚲">🚲</button>
                                            <button class="icon" data-icon="🌟">🌟</button>
                                            <button class="icon" data-icon="🎨">🎨</button>
                                            <button class="icon" data-icon="🎸">🎸</button>
                                            <button class="icon" data-icon="⚓️">⚓️</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- button send message -->
                                <button id="sendButton" class="button-send">
                                    <i class="h4 pt-2 fa-regular fa-paper-plane"></i>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include the WebRTC adapter and socket.io library -->
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const roomName = '<%= roomName %>'
            const roomId = '<%= roomName %>'
            const socket = io()
            let username = '<%= username %>'
            socket.emit('set-username', username)
        </script>
        <script defer src="/js/index.js"></script>
        <script defer src="/js/room-call.js"></script>
        <script defer src="/js/index-networkstatus.js"></script>
    </body>
</html>
